<h1>Register Page</h1>
<h6>@DateTime.Now</h6>

<br>
<form action="/Register" method="post">
    <input type="text"  name="username" value=""><br>
    <input type="password"  name="password" value=""><br>
    <button type="submit">Reg</button>
</form>